html {
  box-sizing: border-box;
  font-family: Patua One, Georgia;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

img {
  width: 100%;
  display: block;
}

nav {
  display: flex;
}

h1 {
  margin: 0;
  text size; 2rem;
}

h2 {
    font-size: 1rem;
    color: #30658d;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */

}
